<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Workout calculator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><!-- for tooltip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/4.0.1/Dropbox-sdk.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <style type="text/css">
        body, input, select {
            font-family: Tahoma;
        }
        body, input {
            font-size: 12pt;
        }
        button {
            font-family: Tahoma;
        }
        input[type=email] {
            font-size: 10pt;
        }
        .maintable {
            border-collapse: collapse;
            margin: 5px 0px;
        }
        .maintable td {
            text-align: right;
            border: none;
            padding-right: 5px;
        }
        .maintable td.border {
            border: solid 1px silver;
            padding-right: 0px;
        }
        .maintable td.score {
            color: gray;
            padding-right: 10px;
        }
        td.oneRepMaxExceeded {
            text-decoration: line-through;
            color: red;
        }
        td.intensity60 {
            background-color: #fff1ab;
        }
        td.intensity70 {
            background-color: orange;
            color: white;
        }
        td.intensity80 {
            background-color: purple;
            color: white;
        }
        td.est1RmEqualToRef {
            background-color: #ebffeb;
        }
        td.est1RmExceedsRef {
            background-color: #fdd;
        }
        .smallgray {
            font-size: 11px;
            color: #999;
        }
        .verdana {
            font-family: Verdana, Arial, sans-serif;
        }
        textarea.output {
            width: 380px;
            height: 85px;
            margin-bottom: 5px;
        }
        input {
            border: solid 1px #a9a9a9;
            padding: 4px 3px;
        }
        input[type=number] {
            text-align: right;
        }
        .maintable input[type=number] {
            width: 80px;
            border: none;
        }
        button.pagebtn {
            padding: 10px 20px;
            margin-right: 5px;
        }
        button.activeBtn {
            background-color: #fe3;
        }
        button.clearbtn {
            padding: 10px;
            margin-left: 110px;
        }
        [v-cloak] {
            display: none;
        }
        h4.recent {
            color: #444;
            margin-bottom: 5px;
            /* margin-top: 50px; */
        }
        table.recent { 
            border-collapse: collapse;
            border: none;
        }
        table.recent th {
            background-color: #e6e6e6;
            color: #333;
            border-color: #e6e6e6;
        }
        table.recent th,
        table.recent td {
            padding: 3px 5px;
            font-size: 13px;
        }
        table.recent td {
            border: solid 1px #e6e6e6;
        }
        table.recent td.r {
            text-align: right;
        }
        table.recent td.c {
            text-align: center;
        }
        table.recent td.pre {
            text-align: center;
            white-space: pre;
            font-family: 'Lucida Console';
            font-size: 12px;
            padding-top: 4px;
        }
        table.recent td.bold {
            font-weight: bold;
        }
        table.recent td.best {
            background-color: lightyellow;
        }
        table.recent td.italic {
            font-style: italic;
        }

        table.recent td.noborder {
            border-top: solid 1px white;
            border-right: solid 1px white;
            border-bottom: solid 1px white;
            background-color: white;
            color: silver;
        }
        table.recent td.noborder:hover {
            background-color: red;
        }
        table.recent tr:hover {
            background-color: #ff9;
        }

        #tooltip {
            position: absolute;
            background-color: rgb(255,255,225);
            font-size: 13px;
        }
        #tooltip table {
            border-collapse: collapse;
            border: solid 1px black;
        }
        #tooltip th {
            background-color: #e8e8b6;
        }
        #tooltip td {
            text-align: right;
            padding: 3px 5px 3px 30px;
            border: dotted 1px gray;
        }

        input:read-only{
            background-color: transparent;
        }

        span.emoji {
            font-family: 'segoe ui emoji';
        }
    </style>
</head>
<body>

    <div id="vueDiv" v-cloak>
    
        <div style="float: right; font-size: smaller">
            One Rep Max Formula
            <select v-model="oneRmFormula">
                <option>McGlothin</option>
                <option>Brzycki</option>
                <option>Wathan</option>
                <option>Epley</option>
                <option>Mayhew et al.</option>
                <option>O'Conner et al.</option>
                <option>Lombardi</option>
                <option>Custom</option>
                <option>Custom2</option>
            </select>
        </div>

        <button v-for="(exercise, idx) in exercises"
                v-on:click="gotoPage(idx)"
                class="pagebtn"
                v-bind:class="{ activeBtn: curPageIdx == idx }">
            {{ idx + 1 }}
        </button>
        
        <button class="clearbtn" v-on:click="clearAll">Clear</button>
        

        <div v-for="(exercise, exIdx) in exercises" v-show="exIdx == curPageIdx" class="exdiv">

            <div style="margin-top: 15px; margin-bottom: 10px">
                <b>Exercise #{{ exIdx + 1 }}:</b>
                <input type="text" v-model="exercise.name" style="width: 225px" autocapitalize="off" />
            </div>

            <div style="margin-bottom: 15px" class="smallgray">
                <label>Show 1RM
                    <input type="checkbox" v-model="show1RM" />
                </label>
                <span v-if="show1RM" style="margin-left: 15px" >
                    Reference <input type="number" v-model="exercise.ref1RM" style="width: 65px" class="smallgray verdana" /> kg
                </span>
            </div>

            <table class="maintable">
                <thead>
                    <tr>
                        <th v-if="show1RM" class="smallgray">%1RM</th>
                        <th>Set</th>
                        <th>Weight</th>
                        <th>Reps</th>
                        <!-- <th style="padding: 0px 10px">Score</th> -->
                        <th>Rest</th>
                        <th v-if="show1RM" class="smallgray">Est 1RM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(set, setIdx) in exercise.sets"
                        is="grid-row" 
                        v-bind:set="set" 
                        v-bind:set-idx="setIdx"
                        v-bind:show1-r-m="show1RM"
                        v-bind:ref1-r-m="exercise.ref1RM"
                        v-bind:read-only="false"
                        v-bind:one-rm-formula="oneRmFormula">
                    </tr>
                    <tr>
                        <td v-if="show1RM"></td>
                        <td><button v-on:click="addSet">+</button></td>
                    </tr>
                </tbody>
            </table>

            Tag:
            <!-- (this helps put the workout "headlines" in context) -->
            <select v-model="exercise.etag"
                    style="vertical-align: top; min-height: 22px; margin-bottom: 1px">
                <option v-bind:value="0"></option>
                <option v-for="(value, key) in _tags"
                        v-bind:value="key"
                ><span class="emoji">{{ value.emoji }}</span> - {{ value.description }}</option>
            </select><br />
            
            <div style="font-size: smaller">Comments:</div>
            <textarea rows="2" cols="45" v-model="exercise.comments"></textarea>
            <br />
            
        </div><!-- /foreach exercise -->
        
        <br />        
        <textarea class="output" v-model="outputText" readonly="readonly"></textarea>

        <!-- <br />Mail to: <br />
        <input type="email" style="width: 260px" v-model="emailTo" />
        &nbsp;<a v-bind:href="emailLink">Send email</a> -->


        

        <div v-show="recentWorkouts.length > 0">
            <h4 class="recent">Recent workouts</h4>
            <label>
                <input type="checkbox" v-model="filterActive" />
                Filter
            </label>
            <span v-if="!!daysSinceLastWorked" 
                  style="margin-left: 50px; "
                  v-bind:style="{ color: daysSinceLastWorked > 7 ? 'red' : '' }">
                           <span v-show="daysSinceLastWorked > 7"
                                 title="Decreased performance; Increased DOMS">⚠️</span>{{ daysSinceLastWorked }} days since last worked
            </span>
            <table border="1" class="recent">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Exercise</th>
                        <!-- <th>Total score</th>
                        <th>Weight range</th>
                        <th>No. sets</th>
                        <th>Avg per set</th> -->
                        <th>Warm up</th>
                        <th>Max for reps</th>
                        <th>Max attempted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(exercise, eidx) in recentWorkoutSummaries"
                        v-on:mousemove="showTooltip(eidx, $event)" v-on:mouseout="hideTooltip($event)"
                        v-show="eidx < numberOfRecentWorkoutsToShow || showAllPrevious">
                        <td>{{ exercise.date | formatDate }}</td>
                        <td>{{ exercise.name }}
                            <span v-if="!!exercise.etag"
                                  v-bind:title="_tags[exercise.etag].description"
                                  >{{ _tags[exercise.etag].emoji }}
                            </span>
                        </td>
                        <!-- <td class="r">{{ exercise.totalScore }}</td>
                        <td class="r">{{ exercise.lowestWeight }} → {{ exercise.highestWeight }}</td>
                        <td class="r">{{ exercise.numberOfSets }}</td>
                        <td class="r">{{ exercise.averageScorePerSet }}</td> -->
                        <!-- <td class="r">e.g. "25x12"</td>
                        <td class="r">e.g. "27.5x9"</td> -->
                        <td class="pre italic">{{ exercise.warmUp }}</td>
                        <td class="pre" 
                            v-bind:class="{ bold: exercise.maxForRepsIsMultiple, best: exercise.isBestVolume }"
                            >{{ exercise.maxForReps }}</td>
                        <!-- TODO possible future development: add number of sets ??? -->
                        <!-- e.g. 30kg 3x8, or 25kg 4x8+ ??? -->
                        <td class="pre"
                            v-bind:class="{ bold: exercise.maxWeightIsMultiple, best: exercise.isBestIntensity }"
                            >{{ exercise.maxAttempted }}</td>
                        <!-- TODO possible future development: "Avg rest time" ??? -->
                        <td class="noborder" v-on:click="removeRecent(exercise.idx)">x</td>
                        <td v-show="!!exercise.comments" v-bind:title="exercise.comments">🗨</td>
                        <!-- Or a summary of the whole workout (25)12 (30)8/9 (32.5)4/4/4 -->
                    </tr>
                </tbody>
            </table>
            <!-- Only show $numberOfRecentWorkoutsToShow by default. -->
            <!-- Rationale: There's no point looking at data from over a month ago. -->
            <!-- It's just additional "noise" that detracts from the main issue: -->
            <!-- Is progress being made week-on-week? -->
            <div v-show="recentWorkoutSummaries.length > numberOfRecentWorkoutsToShow && !showAllPrevious"
                 v-on:click="showMore"
                 style="font-size: 13px; padding: 3px 5px">
                     {{ recentWorkoutSummaries.length - numberOfRecentWorkoutsToShow }} more ▼
            </div>
        </div>

        <br /><br />
        <div style="background-color: #eef; display: inline-block">
            <div style="background-color: #dde; border-bottom: solid 1px #ccd; font-weight: bold; padding: 1px 5px">
                ☁ Cloud Backup - Dropbox
            </div>
            <div style="padding: 5px">
                <div v-show="!dropboxLastSyncTimestamp">
                    Dropbox <a target="_blank" href="https://dropbox.github.io/dropbox-api-v2-explorer/#files_list_folder">access token</a>
                    <input type="text" v-model="dropboxAccessToken" v-bind:disabled="dropboxSyncInProgress" />
                </div>
                <!-- Filename <input type="text" v-model="dropboxFilename" readonly="readonly" />
                <br /> -->
                <button v-show="!dropboxLastSyncTimestamp && !!dropboxAccessToken"
                        v-bind:disabled="dropboxSyncInProgress"
                        v-on:click="dropboxSyncStage1">Connect to Dropbox</button>
                <img v-show="dropboxSyncInProgress" src="https://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.25/css/loading.gif" />
                <span v-show="!!dropboxLastSyncTimestamp && !dropboxSyncInProgress">
                    Last sync at {{ dropboxLastSyncTimestamp | formatDate }}
                </span>
            </div>
        </div>
        <br /><br />


        <div id="tooltip" v-show="tooltipVisible">
            <table>
                <tr v-if="show1RM && !!tooltipData.ref1RM && tooltipData.ref1RM != tooltipData.maxEst1RM">
                    <td colspan="4">Ref. 1RM</td>
                    <td v-bind:class="{ oneRepMaxExceeded: tooltipData.maxEst1RM > tooltipData.ref1RM }">
                        {{ tooltipData.ref1RM }}
                    </td>
                </tr>
                <tr>
                    <th v-if="show1RM">% 1RM</th>
                    <th>Weight</th>
                    <th>Reps</th>
                    <!-- <th>Score</th> -->
                    <th>Rest</th>
                    <th v-if="show1RM">Est 1RM</th>
                </tr>
                <tr v-for="(set, setIdx) in tooltipData.sets"
                        is="grid-row" 
                        v-bind:set="set" 
                        v-bind:set-idx="setIdx"
                        v-bind:show1-r-m="show1RM"
                        v-bind:ref1-r-m="!!tooltipData.ref1RM ? Math.max(tooltipData.ref1RM,tooltipData.maxEst1RM) : tooltipData.maxEst1RM"
                        v-bind:read-only="true"
                        v-bind:one-rm-formula="oneRmFormula">
                </tr>
                <tr><td style="padding: 0"></td></tr> <!-- fix for chrome (table borders) -->
                <tr style="border-top: double 3px black">
                    <td v-bind:colspan="show1RM ? 4 : 2">Total volume</td>
                    <td>{{ tooltipData.totalScore }}</td>
                </tr>
                <tr>
                    <td v-bind:colspan="show1RM ? 4 : 2">Total reps</td>
                    <td>{{ tooltipData.totalReps }}</td>
                </tr>
                <tr>
                    <td v-bind:colspan="show1RM ? 4 : 2">Maximum weight</td>
                    <td>{{ tooltipData.highestWeight }}</td>
                </tr>

                <tr v-if="show1RM">
                    <td colspan="4">Max est. 1RM</td>
                    <td>{{ tooltipData.maxEst1RM }}</td>
                </tr>
            </table>
        </div>

    </div><!-- /vueDiv -->

    
    <script type="text/x-template" id="grid-row-template">
        <tr>
            <td v-if="show1RM" 
                class="smallgray verdana"
                v-bind:class="{ 'intensity60': oneRepMaxPercentage >= 60 && oneRepMaxPercentage < 70,
                                'intensity70': oneRepMaxPercentage >= 70 && oneRepMaxPercentage < 80.6,
                                'intensity80': oneRepMaxPercentage >= 80.6 }">
                {{ oneRepMaxPercentage | formatOneRepMaxPercentage }}</td>
                <!--             ^^^ 80.6 so that 8RM is orange not purple (when using Brzycki) ^^^ -->
            <td v-if="!readOnly">
                {{ setIdx + 1 }}
            </td>
            <td class="border">
                <input   v-if="!readOnly" v-model="set.weight" type="number" step="any" />
                <template v-if="readOnly"      >{{ set.weight }}</template>
            </td>
            <td class="border">
                <input   v-if="!readOnly" v-model="set.reps" type="number" />
                <template v-if="readOnly"      >{{ set.reps }}</template>
            </td>
            <!-- <td class="score">{{ scoreForSet(set) }}</td> -->
            <td v-show="setIdx != 0" class="border">
                <input   v-if="!readOnly" v-model="set.gap" type="number" />
                <template v-if="readOnly"      >{{ set.gap }}</template>
            </td>
            <td v-show="setIdx == 0"><!-- padding --></td>
            <td v-if="show1RM" class="smallgray verdana"
                v-bind:class="{ 'est1RmEqualToRef': _roundOneRepMax(oneRepMax) == ref1RM,
                                'est1RmExceedsRef': _roundOneRepMax(oneRepMax) > ref1RM } ">
                {{ oneRepMax | formatOneRepMax }}
            </td>
        </tr>
    </script>

    
    <script type="text/javascript">

        Vue.component("grid-row", {
            template: "#grid-row-template",
            props: [ 
                "set", 
                "setIdx",
                "show1RM",
                "ref1RM",
                "readOnly", // for tooltip
                "oneRmFormula"
            ],
            computed: {
                oneRepMaxPercentage: function() {
                    if (!this.set.weight || !this.ref1RM) return -1; // no data
                    return this.set.weight * 100 / this.ref1RM;
                },
                oneRepMax: function() {
                    return _oneRepMax(this.set, this.oneRmFormula);
                }
            },
            filters: {
                formatOneRepMax: function(oneRepMax) {
                    if (oneRepMax == -1) return ""; // no data
                    if (oneRepMax == -2) return "N/A"; // >12 reps
                    return _roundOneRepMax(oneRepMax).toFixed(1) + "kg"; // .toFixed(1) adds ".0" for whole numbers
                },
                formatOneRepMaxPercentage: function(percentage) {
                    if (percentage == -1) return ""; // no data
                    return Math.round(percentage) + "%"; 
                }
            }
        });
        

        function _oneRepMax(set, formula) {
            // This function is used by "grid-row" component and by main Vue instance.
            if (!set.weight || !set.reps) return -1; // no data
            if (set.reps > 12) return -2; // can't calculate if >12 reps

            if (formula == 'Brzycki') {
                return set.weight / (1.0278 - 0.0278 * set.reps);
            }
            else if (formula == 'Epley') {
                return set.weight * (1 + (set.reps / 30));
            }
            else if (formula == 'McGlothin') {
                return (100 * set.weight) / (101.3 - 2.67123 * set.reps);
            }
            else if (formula == 'Lombardi') {
                return set.weight * Math.pow(set.reps, 0.10);
            }
            else if (formula == 'Mayhew et al.') {
                return (100 * set.weight) / (52.2 + 41.9 * Math.pow(Math.E, -0.055 * set.reps));
            }
            else if (formula == 'O\'Conner et al.') {
                return set.weight * (1 + (set.reps / 40));
            }
            else if (formula == 'Wathan') {
                return (100 * set.weight) / (48.8 + 53.8 * Math.pow(Math.E, -0.075 * set.reps));
            }
            else if (formula == 'Custom') {
                return set.weight * 0.9608 * Math.pow(Math.E, 0.0329 * set.reps); // Exponential
            }
            else if (formula == 'Custom2') {
                return set.weight * (0.001 * Math.pow(set.reps, 2) + (0.0269 * set.reps) + 0.9674); // Polynomial
            }
            else 
                return -3; // unknown formula
        }

        
        function _roundOneRepMax(oneRepMax) {
            // Round up 1 d.p. to ensure that 12 reps always gives 69% not 70%.
            // e.g. 11 x 12 = 15.84557...
            // Standard[1] = 15.8;  11/15.8 = 0.696 = 70% when displayed (bright orange)
            // Round up[2] = 15.9;  11/15.9 = 0.692 = 69% when displayed (pale orange)
            // [1] = (Math.round(number * 10) / 10) or number.toFixed(1)
            // [2] = Math.ceil (see below)
            return Math.ceil(oneRepMax * 10) / 10;
        }
        
        
        function pad(str, len) {
           // Pads the string so it lines up correctly
           var xtra = len - str.length;
           return " ".repeat((xtra / 2) + (xtra % 2))
                + str
                + " ".repeat(xtra / 2);
        }

       

        function newSet() {
            return {
                weight: '',
                reps: '',
                gap: ''
            };
        }

        function newExercise() {
            var sets = [];
            for (var s = 0; s < 5; s++) { // for each set (5 in total)
                sets.push(newSet());
            }
            return {
                name: '',
                sets: sets,
                ref1RM: '',
                comments: '',
                etag: 0 // exercise tag
            };
        }

        function newWorkout() {
            // create an empty workout (3 exercises, 5 sets in each)
            var list = [];
            for (var p = 0; p < 3; p++) { // for each page (3 in total)
                list.push(newExercise());
            }
            return list;
        }

        var _tags = {
            // object keys have to be strings (i.e. "10" not 10)
            "10": { "emoji": "💪", "description": "high energy" },
            "20": { "emoji": "😓", "description": "low energy" },
            //"30": { "emoji": "🆗", "description": "productive if unremarkable" },
            //"40": { "emoji": "📈", "description": "increase over previous workout" },
            "50": { "emoji": "💯", "description": "new PR" },
            "60": { "emoji": "🐢", "description": "long gaps between sets" },
            "70": { "emoji": "🐌", "description": "preworkout took a while to kick in" },
            "80": { "emoji": "☕", "description": "too much caffeine" },
            "99": { "emoji": "☝", "description": "need to increase the weight" }
            
        };
                
        // NOTE: In Internet Explorer/Edge, localStorage is not available for 
        //       file:// URLs so this page won't work when testing locally
        var vm = new Vue({
            el: "#vueDiv",
            data: {
                curPageIdx: 0,
                exercises: !localStorage["currentWorkout"] ? newWorkout() : JSON.parse(localStorage["currentWorkout"]),
                outputText: '',
                emailTo: localStorage['emailTo'],
                recentWorkouts: !localStorage["recentWorkouts"] ? [] : JSON.parse(localStorage["recentWorkouts"]),
                filterActive: true,
                tooltipVisible: false,
                tooltipIdx: -1,
                dropboxFilename: "workouts.json", // user needs to create this file manually, initial contents should be an empty array []
                dropboxAccessToken: localStorage["dropboxAccessToken"] || "",
                dropboxSyncInProgress: false,
                dropboxLastSyncTimestamp: null,
                show1RM: true,
                showAllPrevious: false,
                numberOfRecentWorkoutsToShow: 4,
                oneRmFormula: 'Brzycki'
            },
            methods: {
                gotoPage: function(idx) {
                    this.curPageIdx = idx;
                },
                clearAll: function() {
                    if (confirm("Are you sure you want to clear the whole form?")) {
                        this.saveCurrentWorkoutToHistory();
                        this.exercises = newWorkout();
                        this.curPageIdx = 0;
                        this.dropboxSyncStage1();
                    }
                },
                addSet: function() {
                    if (confirm("Are you sure you want to add a new set?")) {
                        this.exercises[this.curPageIdx].sets.push(newSet());
                    }
                },
                scoreForSet: function(set) {
                    var weight = Number(set.weight);
                    var reps = Number(set.reps);
                    var score = weight * reps;
                    //var score = 0;
                    //for (var i = 0; i < reps; i++) {
                    //    var logdiff = Math.log(i + 2) - Math.log(i + 1); // natural logarithm
                    //    score = score + (weight * logdiff);
                    //}
                    //var boost = 4.679;
                    //score = score * boost; // calibrated so that 25 * 12 = 300
                    
                    return score == 0 ? "" : Math.round(score);
                },
                updateOutputText: function() {
                    // Calculate score and generate output text
                    var output = "";
                    var totalVolume = 0;

                    var self = this;
                    this.exercises.forEach(function(exercise, exerciseIdx) {
                        var weights = "kg";
                        var reps = "x ";
                        var gaps = "🕘  ";
                        var exerciseVolume = 0;
                        
                        exercise.sets.forEach(function (set, setIdx) {
                            var w = set.weight;
                            var r = set.reps;
                            var g = (setIdx == (exercise.sets.length - 1)) 
                                ? "" 
                                : exercise.sets[setIdx + 1].gap; // use the next one down

                            var score = self.scoreForSet(set);
                            if (score > 0) {
                                var len = Math.max(w.length, r.length, g.length);
                                weights += "  " + pad(w, len);
                                reps += "  " + pad(r, len);
                                gaps += "  " + pad(g, len);
                                exerciseVolume += score;
                                totalVolume += score;
                            }
                        });

                        if (exerciseVolume > 0) {
                            output += (exerciseIdx + 1).toString() + ". " + exercise.name + "\n  "
                                + weights.trim() + "\n  "
                                + reps.trim() + "\n  "
                                + gaps.trim() + "\n  "
                                //+ "Volume: " + exerciseVolume + "\n"
                                + "\n";
                        }
                    });
                    //if (totalVolume > 0) {
                    //    output += "Total volume: " + totalVolume;
                    //}

                    localStorage["currentWorkout"] = JSON.stringify(this.exercises); // save to local storage

                    this.outputText = output; // update output text
                },
                saveCurrentWorkoutToHistory: function() {
                    var idSeed = Math.round(new Date().getTime() / 1000); // no. seconds since Jan 1, 1970
                    var self = this;
                    this.exercises.forEach(function(exercise) {
                        var setsWithScore = exercise.sets.filter(function(set) { return self.scoreForSet(set) > 0 });
                        if (setsWithScore.length > 0) {
                            // Add exercise to this.recentWorkouts
                            self.recentWorkouts.unshift({
                                id: idSeed++,
                                date: moment().format("YYYY-MM-DD"),
                                name: exercise.name,
                                ref1RM: exercise.ref1RM,
                                sets: setsWithScore,
                                comments: exercise.comments,
                                etag: exercise.etag
                            });
                        }
                    });
                    localStorage["recentWorkouts"] = JSON.stringify(this.recentWorkouts); // save to local storage
                },
                removeRecent: function(idx) {
                    if (confirm("Remove this item from workout history?")) {
                        this.recentWorkouts[idx].name = "DELETE";
                        localStorage["recentWorkouts"] = JSON.stringify(this.recentWorkouts); // save to local storage
                        this.dropboxSyncStage1();
                    }
                },
                showTooltip: function(summaryItemIdx, e) {
                    this.tooltipIdx = summaryItemIdx;
                    if (!this.tooltipVisible) {
                        this.tooltipVisible = true;
                        var self = this;
                        Vue.nextTick(function() { self.moveTooltip(e) }); // allow tooltip to appear before moving it
                    } else {
                        this.moveTooltip(e);
                    }
                },
                moveTooltip: function(e) {
                    var popupWidth = $("#tooltip").width();
                    var overflowX = (popupWidth + e.clientX + 5) > $(window).width();
                    $("#tooltip").css({ left: overflowX ? e.pageX - popupWidth : e.pageX });

                    var popupHeight = $("#tooltip").height();
                    var overflowY = (popupHeight + e.clientY + 15) > $(window).height();
                    $("#tooltip").css({ top: overflowY ? e.pageY - popupHeight - 10 : e.pageY + 10 });
                },
                hideTooltip: function (e) {
                    this.tooltipVisible = false;
                },
                dropboxSyncStage1: function() {
                    // Dropbox sync stage 1 - Load existing data from Dropbox
                    if (!this.dropboxAccessToken) return;
                    this.dropboxSyncInProgress = true;

                    // See https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesDownload__anchor
                    var dbx = new Dropbox.Dropbox({ accessToken: this.dropboxAccessToken });
                    var self = this;
                    dbx.filesDownload({ path: '/' + this.dropboxFilename })
                        .then(function(data) {
                            var reader = new FileReader();
                            reader.addEventListener("loadend", function() {
                                var obj = JSON.parse(reader.result);
                                self.dropboxSyncStage2(obj);
                            });
                            reader.readAsText(data.fileBlob);
                        })
                        .catch(function(error) {
                            console.error(error);
                            alert("Failed to download " + self.dropboxFilename + " from Dropbox - " + error.message);
                            self.dropboxSyncInProgress = false;
                        });
                },
                dropboxSyncStage2: function(dropboxData) {
                    // Dropbox sync stage 2 - 
                    // Merge this.recentWorkouts with dropboxData, using 'id' field as a key

                    // Build lookup
                    //     Key = ID (unique)
                    //     Value = Item index
                    // e.g. {
                    //     1521245786: 0,
                    //     1521418547: 1
                    // }
                    var dropLookup = {}; 
                    for (var i = 0; i < dropboxData.length; i++){
                        dropLookup[dropboxData[i].id] = i;

                        // BEGIN Temporary patch 3-Aug-18: Add "id" field
                        //       var dayTicks = moment(dropboxData[i].date).startOf("day").valueOf();
                        //       var milliTicks = moment(dropboxData[i].date).milliseconds();
                        //       dropboxData[i].id = Math.round((dayTicks / 1000) + milliTicks);
                        // END   Temporary patch
                    }

                    // Add & "delete" items
                    for (var i = 0; i < this.recentWorkouts.length; i++) {
                        var id = this.recentWorkouts[i].id;
                        if (id != null) { // check 'id' exists (not null/undefined)
                            if (!dropLookup.hasOwnProperty(id)) {
                                // dropData doesn't contain item - add it
                                dropboxData.push(this.recentWorkouts[i]);
                            } else {
                                // dropData contains item - check deletion status
                                if (this.recentWorkouts[i].name == "DELETE") {
                                    // note that the item is not deleted completely,
                                    // a "placeholder" is left behind, e.g. {"id":1521245786,"name":"DELETE"}
                                    // This is so that the deletion status can be propagated to all other synced devices.
                                    // (otherwise it would keep re-appearing when other devices synced)
                                    dropboxData[dropLookup[id]] = {
                                        "id": id,
                                        "name": "DELETE"
                                    };
                                }
                            }
                        }
                    }

                    // Sort by [date] DESC, i.e. so the most recent is at the top.
                    // https://stackoverflow.com/questions/10123953
                    dropboxData.sort(function(a, b){
                        var c = new Date(a.date);
                        var d = new Date(b.date);
                        return d - c; 
                    });

                    // Save changes
                    this.recentWorkouts = dropboxData;
                    localStorage["recentWorkouts"] = JSON.stringify(this.recentWorkouts); // save to local storage
                    this.dropboxSyncStage3();
                },
                dropboxSyncStage3: function() {
                    // Dropbox sync stage 3 - Save data back to Dropbox
                    if (!this.dropboxAccessToken ) return;
                    // See https://github.com/dropbox/dropbox-sdk-js/blob/master/examples/javascript/upload/index.html
                    var dbx = new Dropbox.Dropbox({ accessToken: this.dropboxAccessToken });
                    var self = this;
                    dbx.filesUpload({ 
                            path: '/' + this.dropboxFilename, 
                            contents: JSON.stringify(this.recentWorkouts, null, 2), // pretty print JSON (2 spaces)
                            mode: { '.tag': 'overwrite' }
                        })
                        .then(function(response) {
                            localStorage["dropboxAccessToken"] = self.dropboxAccessToken;
                            self.dropboxSyncInProgress = false;
                            self.dropboxLastSyncTimestamp = new Date();
                        })
                        .catch(function(error) {
                            console.error(error);
                            alert("Failed to upload " + self.dropboxFilename + " to Dropbox - " + error.message);
                            self.dropboxSyncInProgress = false;
                            self.dropboxLastSyncTimestamp = "";
                        });
                },
                padx: function(weight, reps) {
                    if (!weight || !reps) return "";
                    var strW = weight.toString();
                    var strR = reps.toString();
                    return strW.padStart(6) + " x " + strR.padEnd(5);
                },
                showMore: function() {
                    this.showAllPrevious = true;
                }
            },
            computed: {
                emailLink: function() {
                    return "mailto:" + this.emailTo + "?subject=workout&body=" + encodeURIComponent(this.outputText);
                },
                recentWorkoutSummaries: function() {
                    var currentExerciseName = this.exercises[this.curPageIdx].name;
                    var summaries = [];
                    var self = this;
                    this.showAllPrevious = false;
                    
                    var bestVolume_MaxWeight = 0; 
                    var bestVolume_MaxReps = 0; 
                    var bestIntensity_MaxWeight = 0; 
                    var bestIntensity_MaxReps = 0; 
                    
                    this.recentWorkouts.forEach(function(exercise, exerciseIdx) {
                        if (exercise.name == "DELETE") return;
                        if (self.filterActive && exercise.name != currentExerciseName) return;

                        // Warm up (first set)
                        var warmUp = self.padx(exercise.sets[0].weight, exercise.sets[0].reps);

                        // Max weight for a minimum of 8 reps
                        var hyperWeight = exercise.sets
                            .filter(function(set) { return set.reps >= 8 }) // where reps >= 8
                            .reduce(function(acc, set) { return Math.max(acc, set.weight) }, 0); // highest weight
                        var hyperSets = exercise.sets
                            .filter(function(set) { return set.weight == hyperWeight }) // where weight == hyperWeight
                        var hyperMinReps = hyperSets
                            .reduce(function(acc, set) { return Math.min(acc, set.reps) }, 9999); // lowest reps
                        var hyperMaxReps = hyperSets
                            .reduce(function(acc, set) { return Math.max(acc, set.reps) }, 0); // highest reps
                        var hyperIsMultiple = hyperSets.length > 1;
                        var hyperShowPlus = hyperIsMultiple && (hyperMinReps != hyperMaxReps);
                        var hyperString = self.padx(hyperWeight, hyperMinReps + (hyperShowPlus ? "+" : ""));

                        // Max Volume
                        if (hyperWeight >= bestVolume_MaxWeight) {
                            if (hyperMinReps >= bestVolume_MaxReps) {
                                bestVolume_MaxWeight = hyperWeight;
                                bestVolume_MaxReps = hyperMinReps;
                            }
                        }
                        
                        // Max weight (any number of reps)
                        var maxWeight = exercise.sets.reduce(function(acc, set) { return Math.max(acc, set.weight) }, 0); // highest value in array
                        var maxSets = exercise.sets
                            .filter(function(set) { return set.weight == maxWeight }) // where weight == maxWeight
                        var maxWeightMinReps = maxSets
                            .reduce(function(acc, set) { return Math.min(acc, set.reps) }, 9999); // lowest reps
                        var maxWeightMaxReps = maxSets
                            .reduce(function(acc, set) { return Math.max(acc, set.reps) }, 0); // highest reps
                        var maxWeightIsMultiple = maxSets.length > 1;
                        var maxWeightShowPlus = maxWeightIsMultiple && (maxWeightMinReps != maxWeightMaxReps);
                        var maxString = self.padx(maxWeight, maxWeightMinReps + (maxWeightShowPlus ? "+" : ""));

                        // Max Intensity
                        if (maxWeight >= bestIntensity_MaxWeight) {
                            if (maxWeightMinReps >= bestIntensity_MaxReps) {
                                bestIntensity_MaxWeight = maxWeight;
                                bestIntensity_MaxReps = maxWeightMinReps;
                            }
                        }
                        
                        // Other bits
                        var minWeight = exercise.sets.reduce(function(acc, set) { return Math.min(acc, set.weight) }, 9999); // lowest value in array
                        var exerciseScore = exercise.sets.reduce(function(acc, set) { return acc + self.scoreForSet(set) }, 0); // sum array
                        var totalReps = exercise.sets.reduce(function(acc, set) { return acc + Number(set.reps) }, 0); // sum array

                        var maxEst1RM = exercise.sets
                            .map(function(set) { return _oneRepMax(set, self.oneRmFormula) })
                            .filter(function(val) { return val > 0 }) // filter out error conditions
                            .reduce(function(acc, val) { return Math.max(acc, val) }, 0); // highest value
                        maxEst1RM = _roundOneRepMax(maxEst1RM);

                        summaries.push({
                            "idx": exerciseIdx, // needed for displaying tooltips and deleting items from history
                            "date": exercise.date,
                            "name": exercise.name,
                            "totalScore": exerciseScore,
                            "averageScorePerSet": Math.round(exerciseScore / exercise.sets.length),
                            "numberOfSets": exercise.sets.length,
                            "lowestWeight": minWeight, 
                            "highestWeight": maxWeight, 
                            "warmUp": warmUp,
                            "maxForReps": hyperString,
                            "maxForRepsIsMultiple": hyperIsMultiple,
                            "maxAttempted": maxString != hyperString ? maxString : "-",
                            "maxWeightIsMultiple": maxWeightIsMultiple,
                            "maxEst1RM": maxEst1RM,
                            "totalReps": totalReps,
                            "comments": exercise.comments,
                            "etag": exercise.etag
                        });
                    });
                    
                    // All-time Max
                    var bestVolumeStrings    = [ self.padx(bestVolume_MaxWeight, bestVolume_MaxReps),
                                                 self.padx(bestVolume_MaxWeight, bestVolume_MaxReps + "+") ];
                    var bestIntensityStrings  = [ self.padx(bestIntensity_MaxWeight, bestIntensity_MaxReps),
                                                  self.padx(bestIntensity_MaxWeight, bestIntensity_MaxReps + "+") ];
                    for (var i = 0; i < summaries.length; i++) {
                        summaries[i].isBestVolume = bestVolumeStrings.includes(summaries[i].maxForReps);
                        summaries[i].isBestIntensity = bestIntensityStrings.includes(summaries[i].maxAttempted);
                    }
                    
                    return summaries;
                },
                tooltipData: function() {
                    if (this.tooltipIdx == -1 // nothing selected
                        || this.tooltipIdx >= this.recentWorkoutSummaries.length) { // outside array bounds
                        return {
                            sets: [],
                            totalScore: 0,
                            highestWeight: 0,
                            maxEst1RM: 0,
                            ref1RM: 0,
                            totalReps: 0
                        }
                    } else {
                        var summaryItem = this.recentWorkoutSummaries[this.tooltipIdx];
                        var sets = this.recentWorkouts[summaryItem.idx].sets;
                        return {
                            sets: sets,
                            totalScore: summaryItem.totalScore,
                            highestWeight: summaryItem.highestWeight,
                            maxEst1RM: summaryItem.maxEst1RM,
                            ref1RM: summaryItem.maxEst1RM, // ignoring ref1RM for the moment // this.recentWorkouts[summaryItem.idx].ref1RM,
                            totalReps: summaryItem.totalReps
                        };
                    }
                },
                daysSinceLastWorked: function() {
                    if (!this.filterActive) return "";
                    if (this.recentWorkoutSummaries.length == 0) return "";
                    var today = moment().startOf("day");
                    var date = moment(this.recentWorkoutSummaries[0].date).startOf("day");
                    return today.diff(date, 'days');
                }
            },
            watch: {
                exercises: {
                    handler: function() { 
                        // update output text whenever any changes are made
                        this.updateOutputText(); 
                    },
                    deep: true
                },
                emailTo: function() {
                    // save email address to local storage whenever it's changed
                    localStorage["emailTo"] = this.emailTo;
                }
            },
            created: function() { 
                this.updateOutputText();
                this.dropboxSyncStage1();
            }, 
            filters: {
                formatDate: function (datestr) {
                    if (!datestr) return "";
                    return moment(datestr).format("DD/MM/YY");
                }
            }
        });

    </script>
</body>
</html>
