<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Workout calculator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/4.0.1/Dropbox-sdk.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>

    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        body, input {
            font-size: 12pt;
        }
        input[type=email] {
            font-size: 10pt;
        }
        .maintable {
            border-collapse: collapse;
            margin: 5px 0px;
        }
        .maintable td {
            text-align: right;
            border: none;
            padding-right: 5px;
        }
        .maintable td.border {
            border: solid 1px silver;
            padding-right: 0px;
        }
        .maintable td.score {
            color: gray;
            padding-right: 10px;
        }
        .smallgray {
            font-size: 11px;
            color: #cecece;
        }
        textarea.output {
            width: 340px;
            height: 85px;
            margin-bottom: 5px;
        }
        input {
            border: solid 1px #a9a9a9;
            padding: 4px 3px;
        }
        input[type=number] {
            text-align: right;
        }
        .maintable input[type=number] {
            width: 80px;
            border: none;
        }
        button.pagebtn {
            padding: 10px 20px;
        }
        button.activeBtn {
            background-color: gold;
        }
        button.clearbtn {
            padding: 10px;
            margin-left: 110px;
        }
        [v-cloak] {
            display: none;
        }
        h4.recent {
            color: #444;
            margin-bottom: 5px;
            margin-top: 50px;
        }
        table.recent { 
            border-collapse: collapse;
            border: none;
        }
        table.recent th {
            background-color: #e6e6e6;
            color: #333;
            border-color: #e6e6e6;
        }
        table.recent th,
        table.recent td {
            padding: 3px 5px;
            font-size: 13px;
        }
        table.recent td {
            border: solid 1px #e6e6e6;
        }
        table.recent td.r {
            text-align: right;
        }
        table.recent td.c {
            text-align: center;
        }
        table.recent td.pre {
            text-align: center;
            white-space: pre;
            font-family: 'Lucida Console';
            font-size: 12px;
            padding-top: 4px;
        }
        table.recent td.bold {
            font-weight: bold;
        }
        table.recent td.italic {
            font-style: italic;
        }

        table.recent td.noborder {
            border-top: solid 1px white;
            border-right: solid 1px white;
            border-bottom: solid 1px white;
            background-color: white;
            color: silver;
        }
        table.recent td.noborder:hover {
            background-color: red;
        }
        table.recent tr:hover {
            background-color: #ff9;
        }

        #tooltip {
            position: absolute;
            background-color: rgb(255,255,225);
            font-size: 13px;
        }
        #tooltip table {
            border-collapse: collapse;
            border: solid 1px black;
        }
        #tooltip th {
            background-color: #e8e8b6;
        }
        #tooltip td {
            text-align: right;
            padding: 3px 5px 3px 30px;
            border: dotted 1px gray;
        }

        input:read-only{
            background-color: transparent;
        }
    </style>
</head>
<body>

    <div id="vueDiv" v-cloak>
        <button class="pagebtn" v-bind:class="{ activeBtn: curPageIdx == 0 }" v-on:click="gotoPage(0)">1</button>
        <button class="pagebtn" v-bind:class="{ activeBtn: curPageIdx == 1 }" v-on:click="gotoPage(1)">2</button>
        <button class="pagebtn" v-bind:class="{ activeBtn: curPageIdx == 2 }" v-on:click="gotoPage(2)">3</button>

        <button class="clearbtn" v-on:click="clearAll">Clear</button>
        

        <div v-for="(exercise, exIdx) in exercises" v-show="exIdx == curPageIdx" class="exdiv">

            <div style="margin-top: 15px; margin-bottom: 10px">
                <b>Exercise #{{ exIdx + 1 }}:</b>
                <input type="text" v-model="exercise.name" style="width: 225px" autocapitalize="off" />
            </div>

            <div style="margin-bottom: 15px" class="smallgray">
                <label>Show 1RM
                    <input type="checkbox" v-model="show1RM" />
                </label>
                <span v-if="show1RM" style="margin-left: 15px" >
                    Reference <input type="number" v-model="exercise.ref1RM" style="width: 65px" class="smallgray" /> kg
                </span>
            </div>

            <table class="maintable">
                <thead>
                    <tr>
                        <th v-if="show1RM" class="smallgray">%1RM</th>
                        <th>Set</th>
                        <th>Weight</th>
                        <th>Reps</th>
                        <!-- <th style="padding: 0px 10px">Score</th> -->
                        <th>Gap</th>
                        <th v-if="show1RM" class="smallgray">Est 1RM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(set, setIdx) in exercise.sets">
                        <td v-if="show1RM" class="smallgray">{{ oneRepMaxPercentage(set.weight, exercise.ref1RM) }}</td>
                        <td>{{ setIdx + 1 }}</td>
                        <td class="border"><input type="number" v-model="set.weight" step="any" /></td>
                        <td class="border"><input type="number" v-model="set.reps" /></td>
                        <!-- <td class="score">{{ scoreForSet(set) }}</td> -->
                        <td v-show="setIdx != 0" class="border"><input type="number" v-model="set.gap" /></td>
                        <td v-show="setIdx == 0"><!-- padding --></td>
                        <td v-if="show1RM" class="smallgray">{{ oneRepMax(set) | formatOneRepMax }}</td>
                    </tr>
                    <tr>
                        <td v-if="show1RM"></td>
                        <td><button v-on:click="addSet">+</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <textarea class="output" v-model="outputText" readonly="readonly"></textarea>

        <br />Mail to: <br />
        <input type="email" style="width: 260px" v-model="emailTo" />
        &nbsp;<a v-bind:href="emailLink">Send email</a>


        

        <div v-show="recentWorkouts.length > 0">
            <h4 class="recent">Recent workouts</h4>
            <label>
                <input type="checkbox" v-model="filterActive" />
                Filter
            </label>
            <table border="1" class="recent">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Exercise</th>
                        <!-- <th>Total score</th>
                        <th>Weight range</th>
                        <th>No. sets</th>
                        <th>Avg per set</th> -->
                        <th>Warm up</th>
                        <th>Max for reps</th>
                        <th>Max attempted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="exercise in recentWorkoutSummaries"
                        v-on:mousemove="showTooltip(exercise, $event)" v-on:mouseout="hideTooltip($event)"
                        >
                        <td>{{ exercise.date | formatDate }}</td>
                        <td>{{ exercise.name }}</td>
                        <!-- <td class="r">{{ exercise.totalScore }}</td>
                        <td class="r">{{ exercise.lowestWeight }} → {{ exercise.highestWeight }}</td>
                        <td class="r">{{ exercise.numberOfSets }}</td>
                        <td class="r">{{ exercise.averageScorePerSet }}</td> -->
                        <!-- <td class="r">e.g. "25x12"</td>
                        <td class="r">e.g. "27.5x9"</td> -->
                        <td class="pre"       >{{ exercise.warmUp }}</td>
                        <td class="pre bold"  >{{ exercise.maxForReps }}</td>
						<!-- TODO possible future development: add number of sets ??? -->
						<!-- e.g. 30kg 3x8, or 25kg 4x8+ ??? -->
                        <td class="pre italic">{{ exercise.maxAttempted }}</td>
						<!-- TODO possible future development: "Avg rest time" ??? -->
                        <td class="noborder" v-on:click="removeRecent(exercise.idx)">x</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br /><br />
        <div style="background-color: #eef; display: inline-block">
            <div style="background-color: #dde; border-bottom: solid 1px #ccd; font-weight: bold; padding: 1px 5px">
                ☁ Cloud Backup - Dropbox
            </div>
            <div style="padding: 5px">
                <div v-show="!dropboxLastSyncTimestamp">
                    Dropbox <a target="_blank" href="https://dropbox.github.io/dropbox-api-v2-explorer/#files_list_folder">access token</a>
                    <input type="text" v-model="dropboxAccessToken" v-bind:disabled="dropboxSyncInProgress" />
                </div>
                <!-- Filename <input type="text" v-model="dropboxFilename" readonly="readonly" />
                <br /> -->
                <button v-show="!dropboxLastSyncTimestamp && !!dropboxAccessToken"
                        v-bind:disabled="dropboxSyncInProgress"
                        v-on:click="dropboxSyncStage1">Connect to Dropbox</button>
                <img v-show="dropboxSyncInProgress" src="https://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.25/css/loading.gif" />
                <span v-show="!!dropboxLastSyncTimestamp && !dropboxSyncInProgress">
                    Last sync at {{ dropboxLastSyncTimestamp | formatDate }}
                </span>
            </div>
        </div>
        <br /><br />


        <div id="tooltip" v-show="tooltipVisible">
            <table>
                <tr>
                    <th>Weight</th>
                    <th>Reps</th>
                    <!-- <th>Score</th> -->
                    <th>Gap</th>
                    <th v-if="show1RM">Est 1RM</th>
                </tr>
                <tr v-for="set in tooltipData.sets">
                    <td>{{ set.weight }}</td>
                    <td>{{ set.reps }}</td>
                    <!-- <td>{{ scoreForSet(set) }}</td> -->
                    <td>{{ set.gap }}</td>
                    <td v-if="show1RM">{{ oneRepMax(set) | formatOneRepMax }}</td>
                </tr>
                <tr><td style="padding: 0"></td></tr> <!-- fix for chrome (table borders) -->
                <tr style="border-top: double 3px black">
                    <td v-bind:colspan="show1RM ? 3 : 2">Total volume</td>
                    <td>{{ tooltipData.totalScore }}</td>
                </tr>
                <tr>
                    <td v-bind:colspan="show1RM ? 3 : 2">Maximum weight</td>
                    <td>{{ tooltipData.highestWeight }}</td>
                </tr>
                <tr v-if="show1RM">
                    <td colspan="3">Max est. 1RM</td>
                    <td>{{ tooltipData.maxEst1RM }}</td>
                </tr>
            </table>
        </div>

    </div><!-- /vueDiv -->

    <script type="text/javascript">
    
        function pad(str, len) {
           // Pads the string so it lines up correctly
           var xtra = len - str.length;
           return " ".repeat((xtra / 2) + (xtra % 2))
                + str
                + " ".repeat(xtra / 2);
        }

       

        function newSet() {
            return {
                weight: '',
                reps: '',
                gap: ''
            };
        }

        function newExercise() {
            var sets = [];
            for (var s = 0; s < 5; s++) { // for each set (5 in total)
                sets.push(newSet());
            }
            return {
                name: '',
                sets: sets,
                ref1RM: ''
            };
        }

        function newWorkout() {
            // create an empty workout (3 exercises, 5 sets in each)
            var list = [];
            for (var p = 0; p < 3; p++) { // for each page (3 in total)
                list.push(newExercise());
            }
            return list;
        }

        var vm = new Vue({
            el: "#vueDiv",
            data: {
                curPageIdx: 0,
                exercises: !localStorage["currentWorkout"] ? newWorkout() : JSON.parse(localStorage["currentWorkout"]),
                outputText: '',
                emailTo: localStorage['emailTo'],
                recentWorkouts: !localStorage["recentWorkouts"] ? [] : JSON.parse(localStorage["recentWorkouts"]),
                filterActive: true,
                tooltipVisible: false,
                tooltipItem: null,
                dropboxFilename: "workouts.json", // user needs to create this file manually, initial contents should be an empty array []
                dropboxAccessToken: localStorage["dropboxAccessToken"] || "",
                dropboxSyncInProgress: false,
                dropboxLastSyncTimestamp: null,
                show1RM: false
           },
            methods: {
                gotoPage: function(idx) {
                    this.curPageIdx = idx;
                },
                clearAll: function() {
                    if (confirm("Are you sure you want to clear the whole form?")) {
                        this.saveCurrentWorkoutToHistory();
                        this.exercises = newWorkout();
                        this.curPageIdx = 0;
                        this.dropboxSyncStage1();
                    }
                },
                addSet: function() {
                    if (confirm("Are you sure you want to add a new set?")) {
                        this.exercises[this.curPageIdx].sets.push(newSet());
                    }
                },
                scoreForSet: function(set) {
                    var weight = Number(set.weight);
                    var reps = Number(set.reps);
                    var score = weight * reps;
                    //var score = 0;
                    //for (var i = 0; i < reps; i++) {
                    //    var logdiff = Math.log(i + 2) - Math.log(i + 1); // natural logarithm
                    //    score = score + (weight * logdiff);
                    //}
                    //var boost = 4.679;
                    //score = score * boost; // calibrated so that 25 * 12 = 300
                    
                    return score == 0 ? "" : Math.round(score);
                },
                updateOutputText: function() {
                    // Calculate score and generate output text
                    var output = "";
                    var totalVolume = 0;

                    var self = this;
                    this.exercises.forEach(function(exercise, exerciseIdx) {
                        var weights = "kg";
                        var reps = "x ";
                        var gaps = "🕘  ";
                        var exerciseVolume = 0;
                        
                        exercise.sets.forEach(function (set, setIdx) {
                            var w = set.weight;
                            var r = set.reps;
                            var g = (setIdx == (exercise.sets.length - 1)) 
                                ? "" 
                                : exercise.sets[setIdx + 1].gap; // use the next one down

                            var score = self.scoreForSet(set);
                            if (score > 0) {
                                var len = Math.max(w.length, r.length, g.length);
                                weights += "  " + pad(w, len);
                                reps += "  " + pad(r, len);
                                gaps += "  " + pad(g, len);
                                exerciseVolume += score;
                                totalVolume += score;
                            }
                        });

                        if (exerciseVolume > 0) {
                            output += (exerciseIdx + 1).toString() + ". " + exercise.name + "\n  "
                                + weights.trim() + "\n  "
                                + reps.trim() + "\n  "
                                + gaps.trim() + "\n  "
                                //+ "Volume: " + exerciseVolume + "\n"
                                + "\n";
                        }
                    });
                    //if (totalVolume > 0) {
                    //    output += "Total volume: " + totalVolume;
                    //}

                    localStorage["currentWorkout"] = JSON.stringify(this.exercises); // save to local storage

                    this.outputText = output; // update output text
                },
                saveCurrentWorkoutToHistory: function() {
                    var dateSeed = new Date().getTime(); // ensure dates are unique (date is used as a key for dropbox sync)
                    var self = this;
                    this.exercises.forEach(function(exercise) {
                        var setsWithScore = exercise.sets.filter(function(set) { return self.scoreForSet(set) > 0 });
                        if (setsWithScore.length > 0) {
                            self.recentWorkouts.unshift({
                                date: new Date(dateSeed++).toISOString(),
                                name: exercise.name,
                                sets: setsWithScore
                            });
                        }
                    });
                    localStorage["recentWorkouts"] = JSON.stringify(this.recentWorkouts); // save to local storage
                },
                removeRecent: function(idx) {
                    if (confirm("Remove this item from workout history?")) {
                        this.recentWorkouts[idx].name = "DELETE";
                        localStorage["recentWorkouts"] = JSON.stringify(this.recentWorkouts); // save to local storage
                        this.dropboxSyncStage1();
                    }
                },
                showTooltip: function(summaryItem, e) {
                    this.tooltipItem = summaryItem;
                    if (!this.tooltipVisible) {
                        this.tooltipVisible = true;
                        var self = this;
                        Vue.nextTick(function() { self.moveTooltip(e) }); // allow tooltip to appear before moving it
                    } else {
                        this.moveTooltip(e);
                    }
                },
                moveTooltip: function(e) {
                    var popupWidth = $("#tooltip").width();
                    var overflowX = (popupWidth + e.clientX + 5) > $(window).width();
                    $("#tooltip").css({ left: overflowX ? e.pageX - popupWidth : e.pageX });

                    var popupHeight = $("#tooltip").height();
                    var overflowY = (popupHeight + e.clientY + 15) > $(window).height();
                    $("#tooltip").css({ top: overflowY ? e.pageY - popupHeight - 10 : e.pageY + 10 });
                },
                hideTooltip: function (e) {
                    this.tooltipVisible = false;
                },
                dropboxSyncStage1: function() {
                    // Dropbox sync stage 1 - Load existing data from Dropbox
                    if (!this.dropboxAccessToken) return;
                    this.dropboxSyncInProgress = true;

                    // See https://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesDownload__anchor
                    var dbx = new Dropbox.Dropbox({ accessToken: this.dropboxAccessToken });
                    var self = this;
                    dbx.filesDownload({ path: '/' + this.dropboxFilename })
                        .then(function(data) {
                            var reader = new FileReader();
                            reader.addEventListener("loadend", function() {
                                var obj = JSON.parse(reader.result);
                                self.dropboxSyncStage2(obj);
                            });
                            reader.readAsText(data.fileBlob);
                        })
                        .catch(function(error) {
                            console.error(error);
                            alert(JSON.stringify(error));
                            self.dropboxSyncInProgress = false;
                        });
                },
                dropboxSyncStage2: function(dropboxData) {
                    // Dropbox sync stage 2 - 
                    // Merge this.recentWorkouts with dropboxData, using 'date' field as a key

                    // Build lookup
                    //     Key = Date (unique)
                    //     Value = Item index
                    // e.g. {
                    //     "2018-03-18T11:41:57.321Z": 0,
                    //     "2018-03-17T13:23:39.509Z": 1
                    // }
                    var dropLookup = {}; 
                    for (var i = 0; i < dropboxData.length; i++){
                        dropLookup[dropboxData[i].date] = i;
                    }

                    // Add & "delete" items
                    for (var i = 0; i < this.recentWorkouts.length; i++) {
                        var date = this.recentWorkouts[i].date;
                        if (!dropLookup.hasOwnProperty(date)) {
                            // dropData doesn't contain item - add it
                            dropboxData.push(this.recentWorkouts[i]);
                        } else {
                            // dropData contains item - check deletion status
                            if (this.recentWorkouts[i].name == "DELETE") {
                                // note that the item is not deleted completely,
                                // a "placeholder" is left behind, e.g. {"date":"2018-03-22T20:43:02.571Z","name":"DELETE","sets":[]}
                                // This is so that the deletion status can be propagated to all other synced devices.
                                // (otherwise it would keep re-appearing when other devices synced)
                                dropboxData[dropLookup[date]].name = "DELETE";
                                dropboxData[dropLookup[date]].sets = []; // delete sets
                            }
                        }
                    }

                    // Sort by [date] DESC, i.e. so the most recent is at the top.
                    // https://stackoverflow.com/questions/10123953
                    dropboxData.sort(function(a, b){
                        var c = new Date(a.date);
                        var d = new Date(b.date);
                        return d - c; 
                    });

                    // Save changes
                    this.recentWorkouts = dropboxData;
                    this.dropboxSyncStage3();
                },
                dropboxSyncStage3: function() {
                    // Dropbox sync stage 3 - Save data back to Dropbox
                    if (!this.dropboxAccessToken ) return;
                    // See https://github.com/dropbox/dropbox-sdk-js/blob/master/examples/javascript/upload/index.html
                    var dbx = new Dropbox.Dropbox({ accessToken: this.dropboxAccessToken });
                    var self = this;
                    dbx.filesUpload({ 
                            path: '/' + this.dropboxFilename, 
                            contents: JSON.stringify(this.recentWorkouts, null, 2), // pretty print JSON (2 spaces)
                            mode: { '.tag': 'overwrite' }
                        })
                        .then(function(response) {
                            localStorage["dropboxAccessToken"] = self.dropboxAccessToken;
                            self.dropboxSyncInProgress = false;
                            self.dropboxLastSyncTimestamp = new Date();
                        })
                        .catch(function(error) {
                            console.error(error);
                            alert(JSON.stringify(error));
                            self.dropboxSyncInProgress = false;
                            self.dropboxLastSyncTimestamp = "";
                        });
                },
                padx: function(weight, reps) {
                    if (!weight || !reps) return "";
                    var strW = weight.toString();
                    var strR = reps.toString();
                    return strW.padStart(6) + " x " + strR.padEnd(5);
                },
                oneRepMax: function(set) {
                    if (!set.weight || !set.reps) return -1; // no data
                    if (set.reps > 12) return -2; // can't calculate if >12 reps
                    // Brzycki formula
                    return Math.round(set.weight / ( 1.0278 - 0.0278 * set.reps));
                },
                oneRepMaxPercentage: function(weight, ref1RM) {
                    if (!weight || !ref1RM) return "";
                    return Math.round(weight * 100 / ref1RM).toString() + "%";
                }
            },
            computed: {
                emailLink: function() {
                    return "mailto:" + this.emailTo + "?subject=workout&body=" + encodeURIComponent(this.outputText);
                },
                recentWorkoutSummaries: function() {
                    var currentExerciseName = this.exercises[this.curPageIdx].name;
                    var summaries = [];
                    var self = this;
                    this.recentWorkouts.forEach(function(exercise, exerciseIdx) {
                        if (exercise.name != "DELETE" && (!self.filterActive || exercise.name == currentExerciseName)) {

                            // Warm up (first set)
                            var warmUp = self.padx(exercise.sets[0].weight, exercise.sets[0].reps);

                            // Max weight for a minimum of 8 reps
                            var maxWeightForReps = exercise.sets
                                .filter(function(set) { return set.reps >= 8 }) // where reps >= 8
                                .reduce(function(acc, set) { return Math.max(acc, set.weight) }, 0); // highest weight
                            var maxRepsForReps = exercise.sets
                                .filter(function(set) { return set.weight == maxWeightForReps }) // where weight == maxWeightForReps
                                .reduce(function(acc, set) { return Math.max(acc, set.reps) }, 0); // highest reps
                            var maxForRepsString = self.padx(maxWeightForReps, maxRepsForReps);

                            // Max weight (any number of reps)
                            var maxWeight = exercise.sets.reduce(function(acc, set) { return Math.max(acc, set.weight) }, 0); // highest value in array
                            var maxWeightReps = exercise.sets
                                .filter(function(set) { return set.weight == maxWeight }) // where weight == maxWeight
                                .reduce(function(acc, set) { return Math.max(acc, set.reps) }, 0); // highest reps
                            var maxString = self.padx(maxWeight, maxWeightReps);

                            // Max est 1RM
                            var maxEst1RM = exercise.sets
                                .map(function(set) { return self.oneRepMax(set) })
                                .filter(function(val) { return val > 0 }) // filter out error conditions
                                .reduce(function(acc, val) { return Math.max(acc, val) }, 0); // highest value

                            var minWeight = exercise.sets.reduce(function(acc, set) { return Math.min(acc, set.weight) }, 9999); // lowest value in array
                            var exerciseScore = exercise.sets.reduce(function(acc, set) { return acc + self.scoreForSet(set) }, 0); // sum array
                            summaries.push({
                                "idx": exerciseIdx, // needed for displaying tooltips and deleting items from history
                                "date": exercise.date,
                                "name": exercise.name,
                                "totalScore": exerciseScore,
                                "averageScorePerSet": Math.round(exerciseScore / exercise.sets.length),
                                "numberOfSets": exercise.sets.length,
                                "lowestWeight": minWeight, 
                                "highestWeight": maxWeight, 
                                "warmUp": warmUp,
                                "maxForReps": maxForRepsString,
                                "maxAttempted": maxString != maxForRepsString ? maxString : "-",
                                "maxEst1RM": maxEst1RM
                            });
                        }
                    });
                    return summaries;
                },
                tooltipData: function() {
                    if (!this.tooltipItem) {
                        return {
                            sets: [],
                            totalScore: 0,
                            highestWeight: 0,
                            maxEst1RM: 0
                        }
                    } else {
                        return {
                            sets: this.recentWorkouts[this.tooltipItem.idx].sets,
                            totalScore: this.tooltipItem.totalScore,
                            highestWeight: this.tooltipItem.highestWeight,
                            maxEst1RM: this.tooltipItem.maxEst1RM
                        };
                    }
                }
            },
            watch: {
                exercises: {
                    handler: function() { 
                        // update output text whenever any changes are made
                        this.updateOutputText(); 
                    },
                    deep: true
                },
                emailTo: function() {
                    // save email address to local storage whenever it's changed
                    localStorage["emailTo"] = this.emailTo;
                }
            },
            created: function() { 
                this.updateOutputText();
                this.dropboxSyncStage1();
            }, 
            filters: {
                formatDate: function (datestr) {
                    if (!datestr) return "";
                    return moment(datestr).format("DD/MM/YY");
                },
                formatOneRepMax: function(oneRepMax) {
                    if (oneRepMax == -1) return ""; // no data
                    if (oneRepMax == -2) return "N/A"; // >12 reps
                    return oneRepMax.toString() + "kg";
                },
            }
        });

    </script>
</body>
</html>
