body, input, select {
    font-family: Tahoma;
}
body, .exdiv input {
    font-size: 12pt;
}
button {
    font-family: Tahoma;
}
.exdiv input {
    border: solid 1px #a9a9a9;
    padding: 4px 3px;
}
input[type=email] {
    font-size: 10pt;
}

.smallgray {
    font-size: 11px !important;
    color: #999;
}
.verdana {
    font-family: Verdana, Arial, sans-serif;
}

input:read-only{
    background-color: transparent;
}
input:disabled {
    background-color: #eee;
}
.emoji {
    font-family: 'segoe ui emoji';
}

::placeholder {
    color: pink;
    /* font-style: italic;
    padding-right: 3px; */
}

